<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF Web JPO Nix</title>

    <!-- simple.css -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <style>
        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            max-width: 420px;
            width: 100%;
            padding: 2rem;
            border-radius: 12px;
        }

        .flash.success { color: #2ecc71; }
        .flash.error { color: #e62813; }
        .flash.warning { color:#ea7d10; }

        input[type="submit"] {
            width: 100%;
        }
    </style>
</head>
<body>

<main class="card">
    <h2>🔐 Login / Register</h2>


    <form method="post" action="/register">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="flash {{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <label>
            Username
            <input type="text" name="username" id="username" required>
        </label>

        <label>
            Password
            <input type="password" name="password" id="password" required>
        </label>


         <input type="submit" value="Submit">
        <!--button onclick="encodeForm();">Submit</button-->
    </form>
</main>


</body>
</html>
